%blockquote
  %p
    Бег - моя жизнь.
  %small
    dostapn
    %cite{:title => "Всемирная библиотека поэзии"} Всемирная библиотека поэзии. 2015


.lead Это письмо должен Вам доставить мой ключник Трофим ровно в 8 часов вечера.

%p.muted Науки юношей питают
%p.text-warning Отраду старым подают
%p.text-error В счастливой жизни украшают
%p.text-info В несчастный случай берегут
%p.text-success В домашних трудностях утеха

%button.btn.btn-default.btn-lg{:type => "button"}
  %span.glyphicon.glyphicon-music{"aria-hidden" => "true"}
  qq





%address
  %strong Twitter, Inc.
  %br/
  795 Folsom Ave, Suite 600
  %br/
  San Francisco, CA 94107
  %br/
  %abbr{:title => "Phone"} P:
  (123) 456-7890
%address
  %strong Full Name
  %br/
  %a{:href => "mailto:#"}
    first.last@gmail.com
