%p
  Привет, #{@resource.email}!
%p Вы запросили смену Вашего пароля. Вы можете перейти по ссылке ниже:
%p= link_to 'Сменить пароль', edit_password_url(@resource, reset_password_token: @token)
%p Если вы не делали этого - можете проигнорировать данное сообщение.
%p Ваш пароль не будет меняться до тех пор, пока не перейдете по ссылке выше и создите новый.
