%footer
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        %ul.list-inline.text-center
          %li
            %a{:href => "http://vk.com/forestrunners"}
              %span.fa-stack.fa-lg
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-vk.fa-stack-1x.fa-inverse
          %li
            %a{:href => "https://www.facebook.com/groups/forestrunners/"}
              %span.fa-stack.fa-lg
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-facebook.fa-stack-1x.fa-inverse
          %li
            %a{:href => "http://forestrunnersclub.tumblr.com/"}
              %span.fa-stack.fa-lg
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-tumblr.fa-stack-1x.fa-inverse
          %li
            %a{:href => "https://instagram.com/forestrunnersclub/"}
              %span.fa-stack.fa-lg
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-instagram.fa-stack-1x.fa-inverse
        %p.copyright.text-muted Copyright © ForestRunners #{Time.now.year==2015 ? 2015 : "2015-#{Time.now.year}"}
