-#-classname = "intro-header-#{params[:controller].split("/").first}"
-#%header.intro-header{:class => classname}
%header.intro-header{:style => "background-image: url('../assets/#{params[:controller].split("/").first}-header.jpg')"}
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .site-heading
          %h1 Forest Runners
          %hr.small/
          %span.subheading Беговой клуб
